<html xmlns:th="http://www.thymeleaf.org">
<table style='width:100%'>
 <tr>
  <td style='width:30%;text-align: left'>
   <label style='font-size:2vw;color:orange' th:text="${pn+' of '+totalpage}"></label>
  </td>
  <td style='width:40%;text-align:center'>
    <a th:if="${pn>5}" class='an' th:href='@{list(pn=${pn-1})}'>Prev</a>
    <a th:if="${totalpage<=5}" th:class='${pn==i?"anc":"an"}' th:href='@{booklist(pn=${i})}' th:each="i:${#numbers.sequence(1,totalpage,1)}" th:text="${i}">1</a>
    <a th:if="${totalpage>5}" th:class='${pn==i?"anc":"an"}' th:href='@{booklist(pn=${i})}' th:each="i:${#numbers.sequence(1,4,1)}" th:text="${i} ">1</a>
    <label style="font-size:2vw;color: blue;">......</label>
    <a th:if="${totalpage>5}" class='an' th:href='@{booklist(pn=${pn+1})}' th:onclick="|return ${pn<totalpage}|">Next</a>
   </td>
  <td style='width:30%;text-align: right'>
     <a class='btl' style='background-color:#00ABC8;color:white' href='searchbook'>Search Books</a>
  </td>
 </tr>
</table>
</html>