<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>www.bookstore.in</title>
		<div th:insert="top"></div>
<body style='background-image:url("/images/lib.png");'>
	<div class='dv' style="margin-top: 2vw;">
		<a href='searchbook' class='tpbt' style='margin-left:15vw'>Search Books</a>
		<a href='booklist?pn=1' class='tpbt' style='margin-left:4vw'>Purchase Book</a>
		<a href='purchaseview-transaction' class='tpbt' style='margin-left:4vw'>View Transaction</a>
		<a href='profile' class='tpbt' style='margin-left:4vw'>My Profile </a>
	</div>
</body>
</head>
</html>