<html xmlns:th="http://www.thymeleaf.org">

<body style='background-color:#66ccaa;'>
	<div th:insert="top"></div>
	<form action="checkpass" method="post">
		<table class='dt' align="center">
			<tr>
				<td class="pt">Enter Current Password:</td>
				<td class='ptin'>
					<input type="password" name="pass" class="ptb" placeholder="Enter Current Password"><br>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<button class="btr" style="margin-top:1vw;" onclick="return matchPassword()">Change Password</button>
					<input type='button' value='back' class='btr' style='background-color:orange;' onclick='history.back()'>
				</td>
			<tr>
				<td colspan="2" align="center" class="la" style="color:red; font-size: 2vw;" th:text="${msg}"></td>
			</tr>
		</table>
	</form>
</body>

</html>