<html xmlns:th="http://www.thymeleaf.org">
 <head>
  <link th:href='@{/CSS/logout.css}' rel='stylesheet'>
 </head>
 <body class='bgi'>
  <div class='dv'>
   <label class="la">ONLINE BOOK STORE</label>
  </div>
   <hr style="border:2px solid yellow">
    <div align="center">
		<div class="dvlog">
			<label class='la1' th:text="${'Hello, '+name}"></label>		
		<div class="dv">
			<label class="laa" style="font-size:1.8vw;">Your Password has been updated sucessully</label>
		</div>
		<div class="dv">
			<a href="login">click to re-login</a>
		</div>
		</div>
	</div> 
</body>
</html>